.homeContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.buttonContainer {
  display: flex;
  width: 450px;
  justify-content: space-between;
  margin-top: 24px;
}

.buttonTambahBarang {
	width: 200px;
	height: 50px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	background: #7126b5;
	border: 1px solid #7126b5;
	border-radius: 12px;
	color: #ffffff;

	cursor: pointer;
}

.buttonTambahKaryawan {
  width: 200px;
	height: 50px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	background: #7126b5;
	border: 1px solid #7126b5;
	border-radius: 12px;
	color: #ffffff;

	cursor: pointer;
}

.cardContainer {
	display: flex;
	flex-wrap: wrap;
	margin-top: 24px;
}

.card {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	width: 153.14px;
	height: 198px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	margin: 8px 16px 8px 0px;
}

.card img {
	width: 137.14px;
	height: 100px;
	margin: 8px;
	border-radius: 4px;
}

.cardDesc {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 137.14px;
	height: 66px;
	margin: 0px 8px 8px 8px;
}

.cardDesc h5 {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
}

.cardDesc p {
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 14px;
	color: #8a8a8a;
	margin: 0;
}