.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.signInCard {
  display: flex;
  flex-direction: column;
	width: 505px;
	height: 701px;
  justify-content: center;
}

.signInCard form {
  display: flex;
  flex-direction: column;
}

form input {
  width: 452px;
  height: 48px;
  padding: 12px 16px;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8a8a8a;
  margin-bottom: 16px;
}

form .buttonLogin {
  width: 452px;
  height: 48px;
  align-items: center;
  padding: 8px 24px;
  background: #7126b5;
  border: 1px solid #7126b5;
  border-radius: 16px;
  margin-top: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;

  cursor: pointer;
}

h2 {
  margin: 5px 0px;
}

h1 {
  margin: 10px 0px;
}

label {
  margin: 5px 0px;
}

p {
  margin: 10px 0px;
}