.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 600px;
	height: 800px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	margin: 8px 16px 8px 0px;
}

.card img {
	width: 550px;
	height: 400px;
	margin: 20px 0px;
	border-radius: 4px;
}

.cardDesc {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  align-items: flex-start;
	width: 90%;
	height: 300px;
	margin-bottom: 20px;
}

.cardDesc h5 {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.descPoint {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  margin: 5px 0px;
}

.item {
  color: #8A8A8A;
}
