.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  margin-top: 40px;
}

.container .content .inputForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.container .content .inputForm .inputBox {
  width: 568px;
  height: 48px;
  margin-top: 4px;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 16px;
  color: #8a8a8a;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.container .content .buttonContainer .btnForm {
  width: 276px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #7126b5;
  border-radius: 16px;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  background-color: #7126b5;

  cursor: pointer;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 568px;
  margin-bottom: 100px;
}

.imgProduct {
  width: 300px;
  margin-top: 40px;
}

.btnHapus {
  width: 276px;
  height: 48px;
  border: 1px solid red;
  border-radius: 16px;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: red;
  background-color: #ffffff;

  cursor: pointer;
}