nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 84px;
	background: #ffffff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	padding: 0px 136px;
}

nav .leftNavbar {
	display: flex;
	align-items: center;
}

nav .navTitle {
	margin: auto;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.logo {
	width: 100px;
	height: 34px;
	background-color: #4b1979;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo:hover {
	cursor: pointer;
}

.logo .logoTitle {
	color: #ffffff;
	font-size: 12px;
	font-weight: 500;
	margin: 0;
}
