.logo {
  width: 100px;
  height: 34px;
  background-color: #4B1979;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo:hover {
  cursor: pointer;
}

.logo .logoTitle {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 84px;

  background: #ffffff;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  padding: 0px 136px;
}

.btnMasuk {
  width: 105px;
  height: 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background: #7126B5;
  border: 1px solid #7126B5;
  border-radius: 12px;
  color: #ffffff;

  cursor: pointer;
}